body{
	margin: 0;
	padding: 0;
	font-family: 'open sans' sans-serif;
	font-size: 1.2rem;
	background: url("../img/logo-fundo.png") no-repeat;
	background-size: cover;
	height: 100vh;
}
img{
	max-width: 200px;
}
.signup-form{
	
	width: 600px;
	padding: 20px;
	text-align: center;
	background: #fff;
	position: absolute;
	border-radius: 22px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;


	}
	@media(max-width: 750px){
		.signup-form{
			left: 80%;
		}
	}
.signup-form input{
	display: block;
	width: 550px;
	padding: 0 16px;
	height: 44px;
	text-align: center;
	
	
	font-family: tahoma;

}
.txtb{
	margin-bottom: 10px;
	border-radius: 8px;

}
.signup-btn{
	background: #487eb0;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
}
p{
	color:#D4D4D4;



}
.signup-btn2{
	background: #D6D6D6;
	color: #000;
	font-weight: bold;
	
	cursor: pointer;
}